# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.*
!.env.example
!.env.development

# macOS-specific files
.DS_Store

# Netlify
.netlify/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.history/

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/
.vitest/

# astro
.astro/